<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourcitydate.poras.datingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Profile.profileViewer" />
        <activity android:name=".Profile.AboutUserEdit" />
        <activity android:name=".Profile.ProfilePhotoViewer" />
        <activity android:name=".Profile.ProfileEdit" />
        <activity android:name=".profileSetup.ProfilePhoto" />
        <activity android:name=".profileSetup.Gender" />
        <activity android:name=".profileSetup.Age" />
        <activity android:name=".profileSetup.Name" />
        <activity android:name=".Registration.VerifyOTP" />
        <activity android:name=".Registration.Registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>